/* ==========================================================================
   Typography

   * Base
   * Layout
   * Modules
   * States
   * Themes

   Resources:
   * http://smacss.com/
   * http://bem.info/method/definitions/
   * http://caniuse.com/
   * http://tympanus.net/codrops/category/playground/
   * http://icomoon.io/
   ========================================================================== */


/*
   Base
   ==========================================================================

    Normalising Base styles, no ID's or classes

*/

    body, form {
        margin: 0;
        padding: 0;
    }

    a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
    }

    a:hover {
        color: rgb(249, 218, 72);
    }


/*
   Layout
   ==========================================================================

    Main layout styles  Think about applicability with ID's vs Classes
*/

    #header,
    #article,
    #footer {
        margin: auto;
        width: 960px;
    }

    #article {
        border: solid #CCC;
        border-width: 1px 0 0;
    }

/*
   Module
   ==========================================================================

    Modular reusable component styles - almost always class selectors (not element)

*/

    .main-wrapper{
      width: 800px;
      margin:0 auto;

    }


    .main-wrapper > h1{
      text-align: center;
      font-size: 3.6em;
      margin-bottom:0.35em;
    }

    .module {
        padding: 10px 20px;
        margin-bottom: 20px;
        background-color: #C1C3D4;
        
        border:2px #B5B7C7 solid;
        border-radius:4px;
        width: 80%;
    }

        .module .title {
            margin: 0 0 20px 0;
        }

        .module .wrapper {
            float: left;
            margin-right: 1.5em;
        }

         .module h2 {
          border-bottom: thin #6F7CB7 solid;

        }


    .style-guide {
        border: 3px rgba(0,0,0,0.2) solid;
        padding: 30px;
        color: #000;
    }

        h1,h2 {
            color: #000;
        }

        .text-box {
            margin: 0 0 30px 0;
        }

        .color-swatch {
            list-style: none;
            margin: 0;
            padding: 0;
        }

            .swatch-box {
                color: #000;
                display: inline-block;
                height: 100px;
                margin: 0 20px 20px 0;
                padding: 10px;
                width: 100px;
            }

/*
   State
   ==========================================================================

    Arguements that over write all other styles, a modified version

*/

    .is-active {
        border-color: #FF0000;
    }

    .alpha {
        background-color: #6275B7;
    }

    .beta {
        background-color: #6F7CB7;
        
    }

    .gamma {
        background-color: #ccc;
        
    }


/*
   Theme
   ==========================================================================

    If your building a project with multiple themes - not always necessary

*/

    .mod-a {
        background: #FF0000;
    }